In [19]:
from bs4 import BeautifulSoup
import requests
import pandas as pd



covid_url="https://www.worldometers.info/coronavirus/"

page_covid = requests.get(covid_url).text

soup = BeautifulSoup(page_covid, "lxml")

In [21]:
table = soup.find("table", attrs={"id": "main_table_countries_today"})

head_covid = table.thead.find_all("tr")
columns = []
for th in head_covid[0].find_all("th"):
    columns.append(th.text.replace("\n","").strip())

body_covid = table.tbody.find_all("tr") 
val = []
for r in range(1,len(body_covid)):
    rows = [] 
    for tr in body_covid[r].find_all("td"):
        rows.append(tr.text.replace("\n","").strip())
    val.append(rows)
covid_data = pd.DataFrame(val,columns=columns)
covid_data = covid_data[covid_data["#"]!=""].reset_index(drop=True)
covid_data.drop(columns=['#', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'Tests/1M pop','1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl', 'New Cases/1M pop', 'New Deaths/1M pop', 'Active Cases/1M pop'], inplace=True)
covid_data = covid_data.drop_duplicates(subset = ["Country,Other","Continent"])
print("Shape: ",covid_data.shape)
covid_data.head(15)

Shape:  (226, 12)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests,Population,Continent
0,USA,"80,201,999","+35,851","962,212",+736,"51,996,842","+57,333","27,242,945","10,996","940,281,637","334,183,570",North America
1,India,"42,865,431","+13,502","512,652",+281,"42,178,214","+19,704","174,565","8,944","761,230,580","1,402,235,728",Asia
2,Brazil,"28,351,327","+100,736","645,420",+725,"25,244,026",,"2,461,881","8,318","63,776,166","215,035,499",South America
3,France,"22,401,406","+97,382","137,276",+285,"19,740,327","+319,295","2,523,803","3,055","243,529,298","65,510,236",Europe
4,UK,"18,695,449","+41,130","160,815",+205,"16,918,511","+101,391","1,616,123",324,"477,969,909","68,470,433",Europe
5,Russia,"15,657,928","+135,172","347,031",+796,"12,657,025","+164,293","2,653,872","2,300","273,400,000","146,037,024",Europe
6,Germany,"13,872,762","+158,507","122,369",+329,"10,031,200","+201,900","3,719,193","2,494","104,701,826","84,223,015",Europe
7,Turkey,"13,675,581","+86,070","92,990",+271,"12,853,899","+98,199","728,692","1,128","141,211,474","85,826,038",Asia
8,Italy,"12,554,596","+60,029","153,512",+322,"11,109,291","+89,993","1,291,793",896,"184,981,913","60,316,106",Europe
9,Spain,"10,880,194","+22,194","98,635",+173,"8,876,996","+141,095","1,904,563","1,185","471,036,328","46,784,460",Europe
10,Argentina,"8,855,624","+16,950","125,618",+167,"8,607,471","+11,011","122,535","1,474","33,992,595","45,875,348",South America
11,Iran,"6,983,635","+22,073","135,499",+223,"6,539,753","+22,317","308,383","3,918","46,780,865","85,754,239",Asia
12,Netherlands,"6,153,207","+34,665","21,507",+18,"3,922,750","+74,414","2,208,950",171,"21,107,399","17,197,011",Europe
13,Colombia,"6,052,126","+2,174","138,285",+80,"5,874,444","+3,565","39,397",342,"33,016,280","51,771,513",South America
14,Poland,"5,582,217","+18,792","110,157",+325,"4,935,340","+44,530","536,720",947,"33,181,435","37,778,671",Europe

In [24]:
covid_data.to_csv("dataset/covid_data.csv", sep='\t')

In [33]:
url = 'https://www.mohfw.gov.in/'

web_content = requests.get(url).content

soup = BeautifulSoup(web_content, "html.parser")

table = soup.find("table", attrs={"class": "statetable table table-striped"})

head_covid = table.thead.find_all("tr")
print(head_covid)
columns = []
for th in head_covid[0].find_all("th"):
    columns.append(th.text.replace("\n","").strip())
print(columns)

[<tr><h5>COVID-19 INDIA <span>as on : 22 February 2022, 08:00 IST (GMT+5:30)	[↑↓ Status change since yesterday]</span></h5></tr>, <tr class="row1">
<th rowspan="3" style="width:5%;"><strong>S. No.</strong></th>
<th rowspan="3" style="width:20%;"><strong>Name of State / UT</strong></th>
<th colspan="2" style="text-align:center;width:24%;"><strong>Active Cases*</strong></th>
<th colspan="2" style="text-align:center;width:24%;"><strong>Cured/Discharged/Migrated*</strong></th>
<th colspan="4" style="text-align:center;width:24%;"><strong>Deaths**</strong></th>
</tr>, <tr class="row2">
<th rowspan="2" style="width: 6%;">Total</th>
<th rowspan="2" style="width: 10%;"><span class="mob-hide">Change since yesterday</span>
<span class="mob-show">Change since<br/> yesterday</span>
</th>
<th rowspan="2" style="width: 7%;">Cumulative</th>
<th rowspan="2" style="width: 10%;">Change since yesterday</th>
<th rowspan="2" style="width: 8%;">Cumulative</th>
<th colspan="3" style="width: 5%;">Change since yesterday</th>
</tr>, <tr>
<th style="width: 12%;">Death During Day (a)</th>
<th style="width: 12%;">Death Reconciled (b)</th>
<th style="width: 12%;">Total (a+b)</th>
</tr>]
[]